In [113]:
#all the imports
#not all might be needed -- e.g. I am using Google colab and importing files from my Google drive
#from pydrive.auth import GoogleAuth
#from pydrive.drive import GoogleDrive
#from google.colab import auth
#from oauth2client.client import GoogleCredentials
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.metrics import accuracy_score
from sklearn import datasets
from sklearn.preprocessing import StandardScaler

###Question 1 (1 point) ###
 Load the English and Italian data into 2 separate data frames.

In [114]:
#load the data
#your code goes here.
#@%cd /content/drive/My Drive/COURSES/2020/DATA/
en_data = pd.read_csv('CONcreTEXT_trial_EN.tsv',sep='\t')
it_data = pd.read_csv('CONcreTEXT_trial_IT.tsv',sep='\t')

In [115]:

#check to see what the data look like
en_data.head()

,TARGET,POS,INDEX,TEXT,MEAN
0,achievement,N,3,"Bring up academic achievements , awards , and ...",3.06
1,achievement,N,9,"Please list people you have helped , your pers...",3.03
2,activate,V,1,Add activated carbon straight to your vodka .,3.83
3,activate,V,15,"Place sensors around your garden , and when a ...",5.51
4,adventure,N,9,Look for a partner that shares your level of a...,2.03

In [116]:
it_data.head()

,TARGET,POS,INDEX,TEXT,MEAN
0,affascinare,V,8,Guardati i piedi o fai finta di essere affasci...,2.39
1,affascinare,V,1,Sei affascinato dal funzionamento della mente ...,2.03
2,amore,N,5,"Pensa ai tuoi sentimenti di amore , passione e...",2.71
3,amore,N,7,Quasi tutti sono in grado di ricevere amore e ...,2.16
4,aria,N,4,Accendi il condizionatore sull’ aria fredda ma...,5.68

###Question 2 (2 points): ###
Next we will create three columns in each data frame. 

One column will be called 'CONCRETE' and it will be a boolean. If the mean value of the word is >=4 then this value is 0, otherwise 1. 

Basically, we are assuming that all words with a MEAN score greater than or equal to 4 are concrete words, and the rest are abstract.


Next column will be another boolean 'IS_NOUN'. If the column POS == N (noun), then the 'IS_NOUN' column will be 0 otherwise it will be 1. 

The third column is 'IS_EARLY'. We are setting another boolean variable column, where, if the word appears early in the sentence, then this value is 0 otherwise 1. We will assume that any word which appears at INDEX < 5 appears early in this sentence. 

Your dataframe after you write this code should look like the example shown below. 

You may find it useful to use numpy and the 'where' condition for this question. 

Repeat the same process for the Italian data dataframe.

In [117]:
#create three new columns using conditions on the main data frame

#your code goes here
it_data['CONCRETE']=0
it_data['IS_NOUN']=0
it_data['IS_EARLY']=0




#below is what the dataframe should look like after you have inserted the new columns and set the appropriate values
it_data.head()

,TARGET,POS,INDEX,TEXT,MEAN,CONCRETE,IS_NOUN,IS_EARLY
0,affascinare,V,8,Guardati i piedi o fai finta di essere affasci...,2.39,0,0,0
1,affascinare,V,1,Sei affascinato dal funzionamento della mente ...,2.03,0,0,0
2,amore,N,5,"Pensa ai tuoi sentimenti di amore , passione e...",2.71,0,0,0
3,amore,N,7,Quasi tutti sono in grado di ricevere amore e ...,2.16,0,0,0
4,aria,N,4,Accendi il condizionatore sull’ aria fredda ma...,5.68,0,0,0

In [118]:
for i in range(len(it_data)):
    if it_data.loc[i,'MEAN']< 4:
        it_data.at[i,'CONCRETE']=1
    else:
        it_data.at[i,'CONCRETE']=0
    
    if it_data.loc[i,'POS']!= 'N':
        it_data.at[i,'IS_NOUN']=1
    else:
        it_data.at[i,'IS_NOUN']=0
        
    if it_data.loc[i,'INDEX']>= 5:
        it_data.at[i,'IS_EARLY']=1
    else:
        it_data.at[i,'IS_EARLY']=0
     #   it_data.at[value,'CONCRETE']=1
#if it_data.loc[2,'MEAN']<4:
 #   it_data.at[2,'CONCRETE']=1

In [111]:
#if (it_data.loc[0,'MEAN'])< 4:
 #       it_data.at[value,'CONCRETE']=1
    
#it_data.at[1,'CONCRETE']=1
#it_data.loc[0,'MEAN']
#len(it_data)  
#it_data.loc[0,'TARGET']




it_data['CONCRETE'] = it_data['CONCRETE'].astype('bool')

it_data['CONCRETE']

0.00     True
1.00     True
2.00     True
3.00     True
4.00    False
        ...
2.28     True
1.78     True
2.91     True
2.53     True
2.22     True
Name: CONCRETE, Length: 131, dtype: bool

In [119]:
it_data.head()

,TARGET,POS,INDEX,TEXT,MEAN,CONCRETE,IS_NOUN,IS_EARLY
0,affascinare,V,8,Guardati i piedi o fai finta di essere affasci...,2.39,1,1,1
1,affascinare,V,1,Sei affascinato dal funzionamento della mente ...,2.03,1,1,0
2,amore,N,5,"Pensa ai tuoi sentimenti di amore , passione e...",2.71,1,0,1
3,amore,N,7,Quasi tutti sono in grado di ricevere amore e ...,2.16,1,0,1
4,aria,N,4,Accendi il condizionatore sull’ aria fredda ma...,5.68,0,0,0


###Question 3(3 points):###

Using sklearn implementation of the Perceptron algorithm. 

First, create X and y. 

X are your explanatory variables -- in this case, we will use the newly created 'IS_NOUN' and 'IS_EARLY' columns are our X.

y is the target variable -- the 'CONCRETE' column you created above is what we need to predict.

Create a train, test split using sklearn and fit the perceptron algorithm.

In [120]:
#your code goes here.
xn=it_data.iloc[:,[6,7]].values
yn=it_data.iloc[:,5].values

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(xn,yn,test_size=0.2,random_state=1)

In [109]:
it_data.dtypes

TARGET       object
POS          object
INDEX       float64
TEXT         object
MEAN        float64
CONCRETE    float64
IS_NOUN     float64
IS_EARLY    float64
dtype: object

###Question 4(1 points):###

Predict the values on the test set and print the result accuracy value of the model.

In [125]:
# Apply the trained perceptron on the X data to make predicts for the y test data
# View the accuracy of the model, which is: 1 - (observations predicted wrong / total observations)

#your code goes here
#sample output shown below
# Apply the scaler to the X training data




from sklearn.linear_model import Perceptron
ppn= Perceptron( max_iter=10,random_state=0,eta0=0.01)
ppn.fit(X_train, y_train)
# Train the perceptron

Perceptron(alpha=0.0001, class_weight=None, early_stopping=False, eta0=1.0,
           fit_intercept=True, max_iter=10, n_iter_no_change=5, n_jobs=None,
           penalty=None, random_state=0, shuffle=True, tol=0.001,
           validation_fraction=0.1, verbose=0, warm_start=False)

In [126]:
y_pred = ppn.predict(X_test)

In [127]:
y_pred

array([0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0],
      dtype=int64)

In [128]:
print('Accuracy: %.2f' % accuracy_score(y_test, y_pred))

Accuracy: 0.50


###Question 5 (3 points):###

Repeat the Questions 3 and 4 for the Italian data.

In [129]:
#Repeat the process for the enhglsih dataset
en_data['CONCRETE']=0
en_data['IS_NOUN']=0
en_data['IS_EARLY']=0


#your code goes here.
#sample output shown below

In [130]:
for i in range(len(en_data)):
    if en_data.loc[i,'MEAN']< 4:
        en_data.at[i,'CONCRETE']=1
    else:
        en_data.at[i,'CONCRETE']=0
    
    if en_data.loc[i,'POS']!= 'N':
        en_data.at[i,'IS_NOUN']=1
    else:
        en_data.at[i,'IS_NOUN']=0
        
    if en_data.loc[i,'INDEX']>= 5:
        en_data.at[i,'IS_EARLY']=1
    else:
        en_data.at[i,'IS_EARLY']=0

In [131]:
xn1=en_data.iloc[:,[6,7]].values
yn1=en_data.iloc[:,5].values

from sklearn.model_selection import train_test_split
X1_train,X1_test,y1_train,y1_test=train_test_split(xn1,yn1,test_size=0.2,random_state=1)

In [132]:
from sklearn.linear_model import Perceptron
ppn= Perceptron( max_iter=10,random_state=0,eta0=0.01)
ppn.fit(X1_train, y1_train)

Perceptron(alpha=0.0001, class_weight=None, early_stopping=False, eta0=0.01,
           fit_intercept=True, max_iter=10, n_iter_no_change=5, n_jobs=None,
           penalty=None, random_state=0, shuffle=True, tol=0.001,
           validation_fraction=0.1, verbose=0, warm_start=False)

In [133]:
y1_pred = ppn.predict(X1_test)

In [134]:
y1_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [135]:
print('Accuracy: %.2f' % accuracy_score(y1_test, y1_pred))

Accuracy: 0.65